<app-navbar></app-navbar>
<div class="products-container">
  <div class="products-div">
    <h2>Products from shop {{shopId}}</h2>
    <ul>
      <li *ngFor="let product of shopProductsList">
        <div class="products-container">
          <label>ID: {{ product.productId }}</label>
          <label>Name: {{ product.name }} </label>
          <label>Price: {{ product.price }} </label>
          <label>Discount: {{ product.discount }} </label>

          <label>Description: {{ product.description }} </label>
          <label>In Stock: {{ product.inStock }} </label>


        </div>
      </li>
    </ul>
    <button (click)="goToShops()">View shops</button>
  </div>
</div>
