<app-navbar></app-navbar>
<div class="products-container">
  <div class="products-div">
    <h2>Products </h2>
    <ul>
      <li *ngFor="let product of productsList">
        <div class="products-container">
          <label>ID: {{ product.productId }}</label><br>
          <label>Name: {{ product.name }} </label>
          <br>
          <label>Price: {{ product.price }} </label>
          <br>
          <label>Discount: {{ product.discount }} </label>
          <br>

          <label>Description: {{ product.description }} </label>
          <br>
          <label>In Stock: {{ product.inStock }} </label>
          <br>

                      <label>ShopId: {{ product.shopId }} </label>

        </div>
      </li>
    </ul>
    <button (click)="goToAddProduct()">Add Product</button>
    <button (click)="goToShopsList()">View Shops</button>

  </div>

</div>
