<div class="toolbar" role="banner">
  <span></span>
  <span style="margin-left: 1vw">ListManager App</span>
<!--  <div class="spacer"></div>-->
  <div style="width : 3vw"></div>
  <a target="_blank" rel="noopener" (click)="goToHistory()">
    Orders History
  </a>
  <div style="width : 3vw"></div>
  <a target="_blank" rel="noopener" (click)="goToShops()">
    Shops
  </a>
  <div style="width : 3vw"></div>
  <a target="_blank" rel="noopener" (click)="goToProducts()">
    Products
  </a>
  <div style="width : 3vw"></div>
  <a target="_blank" rel="noopener" (click)="goToCart()">
    Cart
  </a>
</div>
